.TextField{
    background-color: rgb(64, 102, 86);
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
}
.TextField input {
    width: 300px; 
    padding: 10px;
    height: 30px;
    margin-top: 20px;
    
  }
.TextField button {
    width: 80px; 
    height: 50px;
  }

.display{
  display: flex;
  justify-content: center;
  align-items: center;
}
.note{
  margin: 20px;
  padding: auto;
  text-align: center;
  width: 200px;
  height: 100px;
  background-color: #fff;
}

.note button{
  width: 50px;
  height: 20px;
}